# Optional app overrides
# BUTTERVMS_DB_PATH=buttervms.db
# BUTTERVMS_VNC_IMAGE=dorowu/ubuntu-desktop-lxde-vnc:latest
# BUTTERVMS_CONTAINER_PREFIX=buttervms-session
# BUTTERVMS_SWEEPER_SECONDS=30
# BUTTERVMS_DEBUG=0
